# Dependency directories
node_modules/

# WhatsApp Web.js cache and authentication data
.wwebjs_cache/
.wwebjs_auth/

# Environment variables
.env

# Logs
*.log
npm-debug.log*

# Operating System files
.DS_Store
Thumbs.db

# Optional npm cache & logs
.npm
.npmrc

# Optional eslint cache
.eslintcache

# Optional vscode directory
.vscode/

# Optional IDE/Editor files
.idea/
*.sublime-workspace
*.sublime-project
*.swp
*.swo
